{{define "main"}}

<section class="section pt-2">

    <div class="has-background-secondary py-5 columns is-centered">
        <div class="column
        is-two-thirds-tablet
        is-two-thirds-desktop
        is-two-thirds-widescreen
        is-half-fullhd">
            <h1 class="title">
                {{.Title}}
            </h1>
            {{with .Params.subtitle}}
            <p class="subtitle">
                {{.}}
            </p>
            {{end}}

        </div>
    </div>

    {{with .Content}}
    <div class="columns is-centered">
        <article class="content column
        is-two-thirds-tablet
        is-two-thirds-desktop
        is-two-thirds-widescreen
        is-half-fullhd">
            {{.}}

            {{end}}

            <ul>
                {{ range .Pages }}
                <li>
                    <a href="{{.Permalink}}"> {{.Title}}</a>
                </li>
                {{ end }}
            </ul>
        </article>
    </div>
    {{with .Params.app}}
    <section id="app"></section>
    {{end}}
</section>
{{end}}