{{define "main"}}

<section class="section pt-2">

    <div class="has-background-secondary py-5 columns is-centered">
        <div class="column
        is-two-thirds-tablet
        is-two-thirds-desktop
        is-two-thirds-widescreen
        is-half-fullhd">
            <h1 class="title">
                {{.Title}}
            </h1>
            {{with .Params.subtitle}}
            <p class="subtitle">
                {{.}}
            </p>
            {{end}}

        </div>
    </div>


    <div class="columns is-centered">
        <article class="content column
        is-two-thirds-tablet
        is-two-thirds-desktop
        is-two-thirds-widescreen
        is-half-fullhd">
            {{.Content}}


            <div class="columns is-multiline">
                {{ range .Pages.Reverse }}
                <div class="column is-one-third thumbnail" data-file-id={{.File.UniqueID}}>
                    <div class="card" style="height: 100%;">
                        <div class="card-image">
                            <a href="{{.RelPermalink}}">
                                <figure class="image">
                                    <img loading="lazy" src="/images/{{.Params.teaserImage}}" alt="{{.Title}}">
                                </figure>
                            </a>
                        </div>
                        <div class="card-footer">

                            <p class="card-footer-item subtitle"> <a href="{{.RelPermalink}}">{{.Title}}</a></p>



                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
        </article>
    </div>
    {{with .Params.app}}
    <section id="app"></section>
    {{end}}
</section>
{{end}}