{{define "main"}}

<section class="section pt-2">

    <div class="has-background-secondary py-5 columns is-centered">
        <div class="column
        is-two-thirds-tablet
        is-two-thirds-desktop
        is-two-thirds-widescreen
        is-half-fullhd">
            <h1 class="title">
                {{.Title}}
            </h1>
            {{with .Params.subtitle}}
            <p class="subtitle">
                {{.}}
            </p>
            {{end}}
            {{with .Params.download}}
            <p class="subtitle has-text-right">
                <a href="/pdf/{{.}}">Download this brief. (PDF)</a>
            </p>
            {{end}}

        </div>
    </div>
    <section class="section columns is-centered"><article class="message is-success column  is-two-thirds-tablet
        is-two-thirds-desktop
        is-two-thirds-widescreen
        is-half-fullhd">

        <div class="message-header">
          <p>How to Cite</p>
      
        </div>
        <div class="message-body">
           
                To cite, please include the following: The Program on Health Workforce Research and Policy at the Cecil G Sheps Center. “NC Nursecast: A Supply and Demand Model for Nurses in North Carolina.” November 1, 2021. {{.Page.Permalink}}
        </div>
      </article>
      </section>

    {{with .Content}}
    <div class="columns is-centered">
        <article class="content column
        is-two-thirds-tablet
        is-two-thirds-desktop
        is-two-thirds-widescreen
        is-half-fullhd">
            {{.}}
       
        {{end}}
        
    </div>
    


    {{with .Params.app}}
    <section id="app"></section>
    {{end}}
  >
</section>

{{end}}