{{define "main"}}
<section class="hero is-secondary">
    <img alt="Painting of North Carolina." class="hero-background is-transparent is-hidden-mobile"
        src="/images/landscape_compressed.jpg" />
    <img alt="Painting of North Carolina." class="hero-background is-transparent is-hidden-desktop is-hidden-tablet"
        src="/images/landscapecrop_compressed.jpg" />
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-8-desktop is-offset-2-desktop is-block-mobile">

                    <h1 class="has-text-dark is-size-3">
                        {{.Title}}
                    </h1>

                    <h2 class="subtitle">
                        {{.Content}}

                    </h2>

                </div>
            </div>
        </div>
    </div>
</section>
{{end}}